.confirm__content {
  margin: 0 auto;
  width: 70%;
  max-width: 1230px;
}
.confirm__heading {
  text-align: center;
}
.confirm__heading h2 {
  color: #8a7868;
}
.confirm-table {
  width: 100%;
}
.confirm-table__header {
  background: #baa899;
  color: #fff;
  border: 1px solid #f5f4f4;
  width: 300px;
  text-align: left;
  padding: 20px 20px;
}

p {
  color: #8a7868;
  margin: 0;
}
.confirm-table__text p {
  margin-right: 20px;
}
.confirm-table__text {
  padding: 20px 20px;
  border: 1px solid #f5f4f4;
}
.form {
  margin: 0 auto;
  text-align: center;
}


.confirm-table__text {
  display: flex;
}

.form__button-submit {
  padding: 10px 20px;
  background: #827469;
  color: #fff;
  border: none;
  cursor: pointer;
}
.form__button-back {
  background: #fff;
  color: #827469;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}