.contact-form__content {
  margin: 0 auto;
  width: 70%;
  max-width: 1230px;
}
.contact-form__heading {
  text-align: center;
}
.contact-form__heading h2 {
  color: #8a7868;
}
.form {
  margin: 0 auto;
  text-align: center;
}
.form__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form__group-content {
  width: 600px;
}
.form__label--item {
  color: #8a7868;
}
.form__label--required {
  color: #ffadae;
}

.form__separated {
  display: flex;
  justify-content: space-between;
}
.form__separated--number {
  background: #f4f4f4;
  color: #b0a49a;
  border: none;
}

.form__separated--text {
  width: 250px;
  padding: 5px 20px;
  background: #f4f4f4;
  color: #b0a49a;
  border: none;
}
.form__radio {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.form__radio-button {
  margin-left: 10px;
  color: #b0a49a;
  accent-color: #8b7969;
}
.form__radio-button input {
  margin-right: 5px;
}

.form__input {
  display: flex;
}
.form__input input {
  width: 100%;
  padding: 5px 20px;
  background: #f4f4f4;
  color: #b0a49a;
  border: none;
}
.form__input select {
  width: 50%;
  padding: 5px 20px;
  background: #f4f4f4;
  color: #b0a49a;
  border: none;
}
.form__input textarea {
  width: 100%;
  height: 70px;
  padding: 5px 20px;
  background: #f4f4f4;
  color: #b0a49a;
  border: none;
}
.form__button-submit {
  padding: 10px 20px;
  background: #8b7969;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form__error {
  color: red;
  text-align: left;
}
